Repository agriyakhetarpal/jupyterlite-pandoc-pdf-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier
  language: node

eslint:
  name: eslint
  entry: npm run eslint
  language: node

Update yarn.lock
  yarn.lock
Due: none

Add notebooks from jupyterlite/demo repository
  notebooks/data/Museums_in_DC.geojson
  notebooks/data/bar.vl.json
  notebooks/data/fasta-example.fasta
  notebooks/data/iris.csv
  notebooks/data/matplotlib.png
  notebooks/pyodide/altair.ipynb
  notebooks/pyodide/folium.ipynb
  notebooks/pyodide/interactive-widgets.ipynb
  notebooks/pyodide/ipycanvas.ipynb
  notebooks/pyodide/ipyleaflet.ipynb
  notebooks/pyodide/matplotlib.ipynb
  notebooks/pyodide/plotly.ipynb
  notebooks/pyodide/pyb2d/0_tutorial.ipynb
  notebooks/pyodide/pyb2d/color_mixing.ipynb
  notebooks/pyodide/pyb2d/games/angry_shapes.ipynb
  notebooks/pyodide/pyb2d/games/billiard.ipynb
  notebooks/pyodide/pyb2d/games/goo.ipynb
  notebooks/pyodide/pyb2d/games/rocket.ipynb
  notebooks/pyodide/pyb2d/gauss_machine.ipynb
  notebooks/pyodide/pyb2d/newtons_cradle.ipynb
  notebooks/pyodide/renderers.ipynb
  notebooks/python.ipynb
Due: prettier

Update JupyterLite build command to include notebooks
  .github/workflows/build.yml
Due: none

Messing around with Typst/LaTeX pipelines
  src/pdf.ts
Due: prettier, eslint

Enhance PDF exports for notebooks with some `IPython.display` objects (#19)
  src/pdf.ts
Due: prettier, eslint

We need `jupyter-server`
  .github/workflows/build.yml
Due: none

SAVE PROGRESS
  src/pdf.ts
Due: prettier, eslint

Add more (optional) dependencies
  .github/workflows/build.yml
  lite/requirements.txt
Due: none

Remove a few notebooks, and move to normal folder
  notebooks/altair.ipynb
  notebooks/folium.ipynb
  notebooks/interactive-widgets.ipynb
  notebooks/ipycanvas.ipynb
  notebooks/ipyleaflet.ipynb
  notebooks/matplotlib.ipynb
  notebooks/plotly.ipynb
  notebooks/pyodide/pyb2d/0_tutorial.ipynb
  notebooks/pyodide/pyb2d/color_mixing.ipynb
  notebooks/pyodide/pyb2d/games/angry_shapes.ipynb
  notebooks/pyodide/pyb2d/games/billiard.ipynb
  notebooks/pyodide/pyb2d/games/goo.ipynb
  notebooks/pyodide/pyb2d/games/rocket.ipynb
  notebooks/pyodide/pyb2d/gauss_machine.ipynb
  notebooks/pyodide/pyb2d/newtons_cradle.ipynb
  notebooks/pyodide/renderers.ipynb
  notebooks/renderers.ipynb
Due: none

Remove all lints and bump linter versions
  .github/workflows/build.yml
  .github/workflows/check-release.yml
  .github/workflows/prep-release.yml
  .github/workflows/publish-release.yml
  .github/workflows/update-integration-tests.yml
  .pre-commit-config.yaml
  babel.config.js
  package.json
Due: prettier, eslint

Bump some action versions
  .github/workflows/build.yml
  .github/workflows/update-integration-tests.yml
Due: none

Include Pandoc and Typst licenses in npm package
  package.json
Due: prettier

Bump version, remove scripts, fix license
  package.json
Due: prettier

More name changes
  .github/workflows/build.yml
Due: none

Rename the project
  .copier-answers.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .gitignore
  .prettierignore
  CONTRIBUTING.md
  README.md
  install.json
  jupyterlite_pdf_exporter/__init__.py
  package.json
  pyproject.toml
  schema/plugin.json
  src/__tests__/jupyterlite_pdf_exporter.spec.ts
  src/index.ts
  src/status.ts
  ui-tests/package.json
  ui-tests/tests/jupyterlite_pdf_exporter.spec.ts
  yarn.lock
Due: prettier, eslint

Bring back some scripts
  package.json
Due: prettier

Remove some lint
  .github/workflows/build.yml
  .github/workflows/release.yml
  ui-tests/tests/jupyterlite_pdf_exporter.spec.ts
Due: prettier, eslint

Push only safe Zizmor fixes
  .pre-commit-config.yaml
Due: none

Fix hyphen vs underscore in wheel
  .github/workflows/build.yml
Due: none

Drop Pandoc reference in export button
  README.md
  src/index.ts
Due: prettier, eslint

Add some nice info about projects I used
  README.md
Due: none

Fix some mistakes, and add links
  README.md
Due: none

Release v0.1.0
  README.md
Due: none

Update JS project metadata
  package.json
Due: prettier

Give me GHA updates daily
  .github/dependabot.yml
Due: none

Add a resolution for `sanitize-html`
  package.json
  yarn.lock
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, but not: \.ipynb$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
